apiVersion: v1
kind: Service
metadata:
  name: {{ instance_name }}-svc
  labels:
    component: {{ instance_name }}-kibana
spec:
  selector:
    component: {{ instance_name }}-kibana
  type: NodePort
  ports:
  - name: kibana-http
    port: 5601
    protocol: TCP
